.signup-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  
  .card-signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90vw;;
    padding: 30px 20px;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 10px;

    .form-title {
      text-align: center;
    }
  }


  .signin-link {
    margin-top: 20px;
    font-size: 12px;
  }
}