.header {
  height: 200px;
  width: 100vw;
  background-color: #D81B5D;
  padding: 0 5vw;
  padding-bottom: 70px;
  margin-bottom: -60px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  .top-header {
    height: 80px;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu-btn {

      svg {
        margin-top: 3px;
        height: 35px;
        width: 80px;
      }
    }
  }

  .user-info {
    display: flex;
    align-items: center;

    .display-name {
      color: white;
      font-weight: 500;
      text-decoration: none;
    }
    .small-avatar {
      width: 35px;
      height: 35px;
      margin-left: 10px;
      border-radius: 50%;
      background: white;
      background-position: center;
      background-size: cover;
      border: 1px solid white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}