.signin-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  .card-signin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90vw;
    padding: 30px 20px;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 10px;

    .form-title {
      text-align: center;
    }
    .logo {
      display: flex;
      justify-content: center;
      
      svg {
        height: 80px;
        
      }
    }
  }


  .signup-link {
    margin-top: 20px;
    font-size: 12px;
  }
}