.avatar {
  width: 150px;
  height: 150px;
  border: 3px solid white;
  border-radius: 50%;
  background-position: center;
  margin-top: -75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .edit-btn {
    position: absolute;
    bottom: -6px;

    .icon {
      position: absolute;
    }

  }

}