body {
  font-family: 'Open Sans', sans-serif;
  color: #312D2D;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.app {
  height: 100vh;
  width: 100%;
}

@media (min-width: 769px) {
  body {
    background-color: #D81B5D;
    color: white;
  }
  .app {
    display: none;
  }
}